In [3]:
import pandas as pd
#A = {0:["Shop X",34,25],1:["Shop Y", 65, 76],2:["Shop Z", 48, 55]}
A = {'shop':['Shop X', 'Shop Y', "Shop Z"], '2017': ['34', '65', '48'],'2018':['25', '76', '55']}
df = pd.DataFrame.from_dict(A)
df

     shop 2017 2018
0  Shop X   34   25
1  Shop Y   65   76
2  Shop Z   48   55

In [5]:
SalesData = pd.melt(df, id_vars='shop',value_vars=['2017','2018'])

SalesData

     shop variable value
0  Shop X     2017    34
1  Shop Y     2017    65
2  Shop Z     2017    48
3  Shop X     2018    25
4  Shop Y     2018    76
5  Shop Z     2018    55

In [9]:
B = {0:["Shop X",34,25],1:["Shop Y", 65, 76],2:["Shop Z", 48, 55]}
dfB = pd.DataFrame.from_dict(B)
dfB

        0       1       2
0  Shop X  Shop Y  Shop Z
1      34      65      48
2      25      76      55

In [8]:
C = {"Shop X":[34,25],"Shop Y":[65, 76],"Shop Z":[48, 55]}
dfC = pd.DataFrame.from_dict(B)
dfC

        0       1       2
0  Shop X  Shop Y  Shop Z
1      34      65      48
2      25      76      55